<p id="notice"><%= notice %></p>

<p>
  <b>Interest:</b>
  <%= @interest_area.interest %>
</p>


<%= link_to 'Edit', edit_interest_area_path(@interest_area) %> |
<%= link_to 'Back', interest_areas_path %>
