<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="span8">
<h3>Resume Status*</h3>
<%= simple_form_for(@privacy) do |f| %>
  <%= f.error_notification %>
     <%= f.collection_radio_buttons(:privacy, [['0', "Searchable"],['1', 'Private']],:first, :last,:item_wrapper_tag=>'label',:item_wrapper_class=>'bigSize', :checked=> @privacy.privacy ) do |b|
      b.label { b.radio_button + " " +b.text }
    end
    %>
    <%= f.button :submit, 'Save',:class=> "btn btn-primary" %>
<% end %>
</div>
</div>
