// Place all the styles related to the ResumePersonalData controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.moveLeft{
  position: relative;
  right: 32px;
  top: -3px;
}

.imageAlign {
  padding-left: 40px;;
}