// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bigSize {

  padding-top: 30px;



}


.gap1 {
  padding-top: 10px;
}

.fontSize2 {
  font-size: 20px;
}